//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.fadeRight {
  opacity: 0;
  transform: translateX(10%);
  transition: 0.7s ease-out;
}

.fadeLeft {
  opacity: 0;
  transform: translateX(-10%);
  transition: 0.7s ease-out;
}

.showElement {
  opacity: 1;
  transform: translateX(0);
}
